.button { padding: 0.8rem 1.5rem; font-size: 1rem; background-color: var(--primary-color); color: var(--light-color); border: none; border-radius: 5px; cursor: pointer; user-select: none; transition: all 0.3s; box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; }
.button:hover { background-color: var(--secondary-color); }

.header { display: flex; justify-content: space-between; gap: 8px; }
.header input { border-radius: 5px; border: 1px solid var(--primary-color); color: var(--primary-color); padding: 4px 12px; background-color: transparent; font-weight: bold; text-transform: uppercase; outline: none; }

.location-details { display: none; gap: 6px; position: relative; }
.location-details>div { border: 1px solid var(--primary-color); padding: 4px 6px; border-radius: 5px; color: var(--primary-color); font-size: 14px; }
.location-details>#latitude::before, .location-details>#longitude::before, .location-details>#accuracy::before { color: var(--secondary-color); display: block; font-size: 12px; font-weight: bold; }
.location-details>#latitude::before { content: "Latitude"; }
.location-details>#longitude::before { content: "Longitude"; }
.location-details>#accuracy::before { content: "Accuracy"; }
.location-details>#accuracy::after { content: " mtrs"; }
.location-details>#reset-map.button { grid-column: 2 / span 2; }
.location-details>#digipin::before { content: "My DIGIPIN: "; color: var(--secondary-color); font-size: 12px; display: block; text-align: left; }
.location-details>#digipin { cursor: pointer; font-weight: bold; grid-column: 2 / span 2; grid-row: 1 / span 2; font-size: 22px; padding: 1rem; }
.location-details #map { height: 50vh; border-radius: 5px; overflow: hidden; grid-column: 1 / span 3; }

.card-loader { width: 100%; padding: 1rem; text-align: center; border-radius: .8rem; background-color: white; }
.card-loader::before, .card-loader::after { content: ""; display: block; background-image: linear-gradient(90deg, #ccc 0px, rgb(229 229 229 / 90%) 40px, #ccc 80px ); background-size: 300%; background-position: 100% 0; border-radius: inherit; animation: shimmer 1.5s infinite; }
.card-loader::before { height: 22px; width: 65%; margin-bottom: 15px; }
.card-loader::after { height: 100px; }
@keyframes shimmer {
  to { background-position: -100% 0; }
}
